body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

nav div#show_nav, nav div#hide_nav {
    display: none;
}

main {
    width: 80%;
    max-width: 60em;
    padding: 1em;
    border: 1px solid #808080;
    margin: 0 auto 10px auto;
    background: #f5f5f5;
}

header {
    width: 80%;
    max-width: 60em;
    border: 1px solid #808080;
    margin: 0 auto 10px auto;
    background: #f5f5f5;
    text-align: center;
    padding: 0 1em;
}

nav > ul > li {
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
}

nav > ul > li:hover {
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

nav > ul > li > a > div {
    padding: 0.75em;
}

aside, div#container {
    float: left;
}

div#register_area {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #808080;
}

div#register_button {
    margin: auto;
    background: #fff;
    width: 80%;
    text-align: center;
    border: 1px solid #808080;
}

div#register_button:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

div#register_button > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

div#register_button > a > div {
    padding: 1em;
}

aside {
    border-right: 1px solid #808080;
    padding-right: 1em;
    margin-right: 1em;
    width: 20em;
}

div#container {
    width: calc(100% - 22.1em);
}

div.clearfix {
    clear: both;
}

p {
    margin-bottom: 0;
}

h1 {
    font-size: 1.4em;
    margin-top: 0;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin: 0 0 10px 0;
}

form li:last-child {
    margin: 0;
}

input[type=submit] {
    width: 100%;
    border: 1px solid #808080;
    padding: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    background: #ffffff;
    cursor: pointer;
}

input[type=submit]:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

input[type=text] {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    width: calc(100% - 1.4em);
    padding: 8px;
    border: 1px solid #808080;
    background: #ffffff;
}

input[type=text]:hover {
    background: #fafafa;
    border: 1px solid #808080;
}

input[type=text]:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    border: 1px solid #808080;
}

input[type=password] {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    width: calc(100% - 1.4em);
    padding: 8px;
    border: 1px solid #808080;
    background: #ffffff;
}

input[type=password]:hover {
    background: #fafafa;
    border: 1px solid #808080;
}

input[type=password]:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    border: 1px solid #808080;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 1em;
    color: #000000;
    text-align: center;
    line-height: 1em;
}

input[type=checkbox]:hover + label:before {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

label:before {
    content: "";
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #ffffff;
    border: 1px solid #808080;
}

label {
    font-size: 0.8em;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}

footer {
    font-size: 0.8em;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #808080;
    padding-top: 10px;
    margin-top: 10px;
}

ul:first-of-type {
    border-top: none;
    padding: 0;
    margin: 0;
}

aside > ul > li {
    margin-bottom: 10px;
    border: 1px solid #808080;
    background: #ffffff;
}

aside  > ul > li:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

li a {
    text-decoration: none;
    color: #000000;
}

aside li a div {
    padding: 8px;
}

li:last-child {
    margin-bottom: 0;
}

ul.errors {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.errors li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #cb1212;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

ul.errors li:hover {
    box-shadow: none;
}

nav label {
    display: none;
}

@media screen and (max-device-width: 640px) {
    aside, div#container {
        float: none;
        display: block;
    }

    div#container, aside {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }

    aside {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #808080;
    }

    main, header {
        width: calc(100% - 2.1em);
    }

    header {
        margin: auto;
        border-bottom: 0;
        padding: 1em;
        text-align: left;
        min-height: 2.5em;
    }

    main {
        border-top: 0;
        padding-top: 0;
    }

    nav > ul > li {
        display: block;
        width: calc(100% - 2px);
        background: #fff;
        border: 1px solid #808080;
        margin-top: 10px;
    }

    nav > ul > li:first-of-type {
        margin-top: 2em;
    }

    nav > ul > li > a > div {
        padding: .5em;
    }

    div#content {
        border-top: 1px solid #808080;
        padding-top: 1em;
    }

    input[type=checkbox]:checked ~ ul {
        display: inherit;
    }

    input[type=checkbox] ~ ul {
        display: none;
    }

    input[type=checkbox] {
        display: none;
    }

    nav input[type=checkbox]:checked + label:before {
        content: "";
        font-size: 1em;
        color: #000000;
        text-align: center;
        line-height: 1em;
    }

    nav input[type=checkbox]:hover + label:before {
        box-shadow: none;
    }

    nav label:before {
        content: "";
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        margin-right: inherit;
        position: absolute;
        left: 0;
        bottom: -1.4em;
        background-color: inherit;
        background: url("../img/show_nav.svg");
        border: none;
    }

    nav label {
        font-size: 1em;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding: 0;
        margin: 0;
    }
}