body {
    font-family: "Open Sans", sans-serif;
    background: #000;
    color: #fff;
}

a {
    color: #f3d796;
}

#dark {
    cursor: pointer;
    display: inline-block;
}

#dark:hover {
    text-decoration: underline;
}